# General Preparation

In [4]:
from datasets import load_dataset, load_from_disk
import os
from pathlib import Path
from typing import Dict
from transformers import (
    AutoTokenizer,
    AutoModelForCausalLM,
    AutoModelForSequenceClassification,
    DataCollatorForSeq2Seq,
    DataCollatorForLanguageModeling,
    TrainingArguments,
    Seq2SeqTrainingArguments,
    Trainer,
    Seq2SeqTrainer,
    PreTrainedTokenizerFast,
)
from functools import partial
from transformers.models.qwen2.tokenization_qwen2_fast import Qwen2TokenizerFast
from transformers.models.qwen2.modeling_qwen2 import Qwen2ForCausalLM, Qwen2ForSequenceClassification
from peft import PrefixTuningConfig, get_peft_model, TaskType, LoraConfig
from peft.peft_model import PeftModelForCausalLM, PeftModelForSequenceClassification
from rouge_score import rouge_scorer
import numpy as np
from transformers import GenerationConfig
import torch
import json

## Hyper Parameters for Training

In [5]:
batch_size = 1
accumulation_steps = 8
learning_rate = 2e-4
epochs = 3
warmup_ratio = 0.05
weight_decay = 0.1
save_total_limit=2
logging_steps = 0.1


smoke_run = False

## Directory Settings

In [6]:
# for autodl environment, use this line
file_dir = Path(os.getcwd())

# for local environment, use this line
# file_dir = Path(os.getcwd(), "sft")

file_dir

PosixPath('/root/llm_adv_qa/sft')

In [7]:
# for autodl environment, use this line
cache_dir='/root/autodl-tmp'

# for local environment, use this line
# cache_dir=Path.home().as_posix()

cache_dir

'/root/autodl-tmp'

In [8]:
model_id = "Qwen/Qwen2.5-3B-Instruct"
model_path = str(
        Path(cache_dir, ".cache/modelscope/hub", model_id)
    )
model_path

'/root/autodl-tmp/.cache/modelscope/hub/Qwen/Qwen2.5-3B-Instruct'

In [9]:
os.path.exists(model_path)

True

In [10]:
model_output_dir = Path(
        file_dir.parent, "resources", "sft_models", "nl2sql"
    )
model_output_dir.mkdir(parents=True, exist_ok=True)
model_output_dir

PosixPath('/root/llm_adv_qa/resources/sft_models/nl2sql')

In [11]:
best_model_output_dir = Path(model_output_dir, "best")
best_model_output_dir

PosixPath('/root/llm_adv_qa/resources/sft_models/nl2sql/best')

# Data Preprocessing

In [9]:
train_file = Path(file_dir.parent, "resources", "dataset", "nl2sql", "train.jsonl")
test_file = Path(file_dir.parent, "resources", "dataset", "nl2sql", "test.jsonl")
dataset = load_dataset(
    "json", data_files={"train": train_file.as_posix(), "test": test_file.as_posix()}
).shuffle(seed=1234)

dataset

DatasetDict({
    train: Dataset({
        features: ['question', 'prompt', 'label'],
        num_rows: 1026
    })
    test: Dataset({
        features: ['question', 'prompt', 'label'],
        num_rows: 115
    })
})

In [10]:
len(dataset['train'])

1026

In [11]:
logging_step_per_epoch = int(round(logging_steps * (len(dataset['train']) // (accumulation_steps * batch_size)), 0))
logging_step_per_epoch

13

In [12]:
tokenizer = AutoTokenizer.from_pretrained(model_path, padding_side="left")
type(tokenizer)

transformers.models.qwen2.tokenization_qwen2_fast.Qwen2TokenizerFast

In [13]:
def preprocess_data(
    example,
    tokenizer: PreTrainedTokenizerFast,
) -> Dict:
    """
    example:
      {
          "prompt": "xxxx",
          "label": "xxx",
          "question": "xxx"
      },

    return:
        {"input_ids:[], attention_mask:[], labels:[]}

    input_idsÊ†ºÂºè: `X Y <eos>...`
    labelsÊ†ºÂºè: `<ignore> ... <ignore> Y <eos>...`
    ËøôÈáå‰∏çÂÅöpadding, Âú®ÂêéÈù¢ËÆ©DataCollatorForSeq2SeqÂú®ËÆ≠ÁªÉÊó∂Âä®ÊÄÅÊ†πÊçÆlongestÁ≠ñÁï•Êù•ÂÅöpadding, 
    ËøôÊ†∑ÂèØ‰ª•ÁúÅÂéªÂæàÂ§öÊó†Áî®ÁöÑpaddingÁ©∫Èó¥, ÊèêÈ´òËÆ≠ÁªÉÊïàÁéá
    """

    x: str = example["prompt"]
    y: str = example["label"]

    # Áî®Ê®°ÂûãÈÄÇÈÖçÁöÑChatMLÊ†ºÂºèÁªÑÊàêËæìÂÖ•
    messages = [{"role": "user", "content": x}]
    x = tokenizer.apply_chat_template(messages, tokenize=False, add_generation_prompt=True)
    
    x_ids = tokenizer.encode(x, truncation=True)
    y_ids = tokenizer.encode(y, truncation=True)
    eos = tokenizer.eos_token_id
    pad = tokenizer.pad_token_id
    
    input_ids = x_ids + y_ids +[eos]
    labels = [-100] * len(x_ids) + y_ids + [eos]
    
    attention_mask = [1] * len(x_ids) + [0] * len(y_ids +[eos])
    # return {"input_ids": input_ids, "labels": labels}
    return {"input_ids": input_ids, "labels": labels, "attention_mask": attention_mask}

In [14]:
preprocess_func = partial(preprocess_data, tokenizer=tokenizer)
original_cols = ["prompt", "label", "question"]

In [15]:
train_set = dataset["train"].map(
        partial(preprocess_func, tokenizer=tokenizer),
        remove_columns=original_cols,
)

validation_set = dataset["test"].map(
        partial(preprocess_func, tokenizer=tokenizer), remove_columns=original_cols
)

In [16]:
train_set.to_pandas()

,input_ids,labels,attention_mask
0,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
...,...,...,...
1021,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1022,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1023,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1024,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1025,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [17]:
validation_set.to_pandas()

,input_ids,labels,attention_mask
0,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
...,...,...,...
110,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
111,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
112,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
113,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
114,"[151644, 8948, 198, 2610, 525, 1207, 16948, 11...","[-100, -100, -100, -100, -100, -100, -100, -10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

## Have a Look at Processed Samples

In [18]:
tokenizer.decode(validation_set[1]['input_ids'])

"<|im_start|>system\nYou are Qwen, created by Alibaba Cloud. You are a helpful assistant.<|im_end|>\n<|im_start|>user\n\n# ‰ªªÂä°\n‰Ω†ÊòØ‰∏ÄÂêçMysqlÊï∞ÊçÆÂ∫ìÂºÄÂèë‰∫∫Âëò, ‰Ω†Á≤æÈÄöMysqlÊï∞ÊçÆÂ∫ìÁöÑsqlËØ≠Âè•ÁºñÂÜô, ‰Ω†ÈúÄË¶ÅÊ†πÊçÆÂ∑≤Áü•ÁöÑË°®Âêç„ÄÅÂ≠óÊÆµÂêçÂíåÁî®Êà∑ËæìÂÖ•Êù•ÁºñÂÜôsql‰ª£Á†Å.\n\n# ‰∏ä‰∏ãÊñá\n## Â∑≤Áü•Ë°®Âêç\n- company_table\n\n## Â∑≤Áü•Â≠óÊÆµÂêç\n- ÂÖ¨Âè∏ÂÖ®Áß∞\n- Âπ¥‰ªΩ\n- ÁªèËê•Ê¥ªÂä®Áé∞ÈáëÊµÅÂÖ•Â∞èËÆ°\n- ÂÖ¨Âè∏ÁöÑ‰∏≠ÊñáÁÆÄÁß∞\n- Âõ∫ÂÆöËµÑ‰∫ß\n- Â∫î‰∫§Á®éË¥π\n- Â∫î‰ªòËÅåÂ∑•Ëñ™ÈÖ¨\n- Êú™ÂàÜÈÖçÂà©Ê∂¶\n- Ë¥üÂÄ∫ÂêàËÆ°\n- ÁîµÂ≠ê‰ø°ÁÆ±\n- ËµÑ‰∫ßÊÄªËÆ°\n- Êó†ÂΩ¢ËµÑ‰∫ß\n- Ë¥ßÂ∏ÅËµÑÈáë\n- ËµÑÊú¨ÂÖ¨ÁßØ\n- Âà©ÊÅØÊî∂ÂÖ•\n- Ëê•‰∏öÊî∂ÂÖ•\n- Ëê•‰∏öÂ§ñÊîØÂá∫\n- Áõà‰ΩôÂÖ¨ÁßØ\n- Ëê•‰∏öÂà©Ê∂¶\n- Ëê•‰∏öÂ§ñÊî∂ÂÖ•\n- ÊâÄÂæóÁ®éË¥πÁî®\n- ÂÖ∂‰ªñÊî∂Áõä\n- Áé∞ÈáëÂèäÁé∞ÈáëÁ≠â‰ª∑Áâ©ÂáÄÂ¢ûÂä†È¢ù\n- ÂáÄÂà©Ê∂¶\n- ÂÖ∂‰ªñÂ∫îÊî∂Ê¨æ\n- Ëê•‰∏öÊàêÊú¨\n- ÁªºÂêàÊî∂ÁõäÊÄªÈ¢ù\n- ÊµÅÂä®ËµÑ‰∫ßÂêàËÆ°\n- Â∫îÊî∂Ë¥¶Ê¨æ\n- È¢Ñ‰ªòÊ¨æÈ°π\n- ÂÖ∂‰ªñÂ∫î‰ªòÊ¨æ\n- ÈùûÊµÅÂä®ËµÑ‰∫ßÂêàËÆ°\n- Âü∫Êú¨ÊØèËÇ°Êî∂Áõä\n- Ë¥≠‰π∞ÂïÜÂìÅ\n- Êé•ÂèóÂä≥Âä°ÊîØ‰ªòÁöÑÁé∞Èáë\n- Â∫î‰ªòË¥¶Ê¨æ\n- ÊµÅÂä®Ë¥üÂÄ∫ÂêàËÆ°\n- Âà©Ê∂¶ÊÄªÈ¢ù\n- ÁÆ°ÁêÜË¥πÁî®\n- ÂÖ∂‰ªñÊµÅÂä®ËµÑ‰∫ß\n- ÈÄíÂª∂ÊâÄÂæóÁ®éËµÑ‰∫ß\n- Ë¥¢Âä°Ë¥πÁî®\n- Ëê•‰∏öÊÄªÊî∂ÂÖ•\n- ÈùûÊµÅÂä®Ë¥üÂÄ∫ÂêàËÆ°\n- Â≠òË¥ß\n- ÂàÜÈÖçËÇ°Âà©\n- Âà©Ê∂¶ÊàñÂÅø‰ªòÂà©ÊÅØÊîØ‰ªòÁöÑÁé∞Èáë\n- Á®ÄÈáäÊØèËÇ°Êî∂Áõä\n- ÊâÄÊúâËÄÖÊùÉÁõäÂêàËÆ°\n- Ëê•‰∏öÊÄªÊàêÊú¨\n- ÈîÄÂîÆË¥πÁî®\n- Ë¥üÂÄ∫ÂíåÊâÄÊúâËÄÖÊùÉÁõäÊÄªËÆ°\n- ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶\n- ‰ø°Áî®ÂáèÂÄºÊçüÂ§±\n- Ë¥¢Âä°‰∫∫Âëò\n- ÈîÄÂîÆ‰∫∫Âëò\n- ÊäïËµÑÊî∂Áõä\n- Ë°åÊîø‰∫∫Âëò\n- ÊäÄÊúØ‰∫∫Âëò\n- Âà©ÊÅØË¥πÁî®\n- Áîü‰∫ß‰∫∫Âëò\n- Á†îÂèëË¥πÁî®\n- ËµÑ‰∫ßÂáèÂÄºÊçüÂ§±\n- ÈÄíÂª∂Êî∂Áõä\n- ÂÖ∂‰ªñÈùûÊµÅÂä®ËµÑ‰∫ß\n- Áü≠ÊúüÂÄüÊ¨æ\n- Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞ÈáèÂêàËÆ°\n\n# Ë¶ÅÊ±Ç\n- sql‰ª£Á†Å‰∏≠ÁöÑÂ≠óÊÆµÂêçÂøÖÈ°ªÊòØÂ∑≤Áü•Â≠óÊÆµÂêç,‰∏çÂæóÊñ∞Â¢ûÂ≠óÊÆµÂêç\n\n# Á§∫‰æã\n- ËæìÂÖ•:Âú®‰∏äÊµ∑Ê≥®ÂÜåÁöÑ‰∏äÂ∏ÇÂÖ¨Âè∏‰∏≠,2019Âπ¥Ë∞ÅÁöÑË¥üÂÄ∫ÂêàËÆ°ÊúÄÈ´ò?ÈáëÈ¢ùÊòØ?\n  ËæìÂá∫: ```select ÂÖ¨Âè∏ÂÖ®Áß∞, Ë¥üÂÄ∫ÂêàËÆ° from company_table where Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%‰∏äÊµ∑%' 'and Âπ¥‰ªΩ = '2019' order by Ë¥üÂÄ∫ÂêàËÆ° desc limit 1```\n- ËæìÂÖ•:2019Âπ¥Ë¥üÂÄ∫ÂêàËÆ°ÊúÄÈ´òÁöÑÂçÅÂÆ∂ÂÖ¨Âè∏ÂàÜÂà´ÊòØ?\n  ËæìÂá∫: ```select ÂÖ¨Âè∏ÂÖ®Áß∞ from company_table where Âπ¥‰ªΩ = '2019' order by Ë¥üÂÄ∫ÂêàËÆ° desc limit 10```\n- ËæìÂÖ•:Âú®‰∏äÊµ∑Ê≥®ÂÜåÁöÑ‰∏äÂ∏ÇÂÖ¨Âè∏‰∏≠,2019Âπ¥Ë¥üÂÄ∫ÂêàËÆ°ÊúÄÂ§öÁöÑÂçÅÂÆ∂ÂÖ¨Âè∏ÂàÜÂà´ÊòØ,Ë¥üÂÄ∫ÂêàËÆ°ÈáëÈ¢ùÂàÜÂà´ÊòØ?\n  ËæìÂá∫: ```select ÂÖ¨Âè∏ÂÖ®Áß∞, Ë¥üÂÄ∫ÂêàËÆ° from company_table where Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%‰∏äÊµ∑%' and Âπ¥‰ªΩ = '2019' order by Ë¥üÂÄ∫ÂêàËÆ° desc limit 10```\n- ËæìÂÖ•:Ê≥®ÂÜåÂú∞ÁÇπÂú®Ê∑±Âú≥Â∏ÇÁöÑÂÖ¨Âè∏‰∏≠,2021Âπ¥Ë¥üÂÄ∫ÂêàËÆ°Ë∂ÖËøá‰∫Ü‰∫îÂçÉ‰∏áÁöÑÂÖ¨Âè∏ÊúâÂá†ÂÆ∂?\n  ËæìÂá∫: ```select count(1) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê∑±Âú≥Â∏Ç%' and Ë¥üÂÄ∫ÂêàËÆ° is not null and Ë¥üÂÄ∫ÂêàËÆ° > 50000000 ```\n- ËæìÂÖ•:Ê≥®ÂÜåÂú∞ÁÇπÂú®ÂõõÂ∑ùÁöÑÂÖ¨Âè∏‰∏≠,2019Âπ¥Âπ≥ÂùáÁöÑÂà©Ê∂¶ÊÄªÈ¢ùÊòØÂ§öÂ∞ë?\n  ËæìÂá∫:```select avg(Âà©Ê∂¶ÊÄªÈ¢ù) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂõõÂ∑ù%' and Âà©Ê∂¶ÊÄªÈ¢ù is not null```\n- ËæìÂÖ•:2021Âπ¥Ê≥®ÂÜåÂú∞Âú®‰∏äÊµ∑ÁöÑ‰∏äÂ∏ÇÂÖ¨Âè∏‰∏≠,‰∏ÄÂÖ±ÊúâÂ§öÂ∞ëÈîÄÂîÆ‰∫∫Âëò?\n  ËæìÂá∫: ```select sum(ÈîÄÂîÆ‰∫∫Âëò) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑%' and ÈîÄÂîÆ‰∫∫Âëò is not null```\n\n# ËæìÂá∫Ê†ºÂºè\n‰ª•markdownÁöÑcode blockÊ†ºÂºèËæìÂá∫sql‰ª£Á†Å,‰æãÂ¶Ç:\n```select sum(ÈîÄÂîÆ‰∫∫Âëò) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑%' and ÈîÄÂîÆ‰∫∫Âëò is not null```\n\n# Áî®Êà∑ËæìÂÖ•\n‚Äú2020Âπ¥Ê≥®ÂÜåÂú∞Âú®Âåó‰∫¨Â∏ÇÊàñÊ∑±Âú≥ÁöÑ‰∏äÂ∏ÇÂÖ¨Âè∏‰∏≠ÔºåÂπ≥ÂùáÁöÑÁ®éÈáëÂèäÈôÑÂä†ÊòØÂ§öÂ∞ëÔºü‚Äù\n<|im_end|>\n<|im_start|>assistant\n```select avg(Á®éÈáëÂèäÈôÑÂä†) from company_table where Âπ¥‰ªΩ = '2020' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%Âåó‰∫¨Â∏Ç%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê∑±Âú≥%') and Á®éÈáëÂèäÈôÑÂä† is not null```<|im_end|>"

In [19]:
test_labels = [id for id in validation_set[1]['labels'] if id != -100]
tokenizer.decode(test_labels)

"```select avg(Á®éÈáëÂèäÈôÑÂä†) from company_table where Âπ¥‰ªΩ = '2020' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%Âåó‰∫¨Â∏Ç%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê∑±Âú≥%') and Á®éÈáëÂèäÈôÑÂä† is not null```<|im_end|>"

# Modeling

In [20]:
model: AutoModelForCausalLM = AutoModelForCausalLM.from_pretrained(model_path)
type(model)

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

transformers.models.qwen2.modeling_qwen2.Qwen2ForCausalLM

In [21]:
def get_all_linear_layers(model):
    # Create a list to store the layer names
    layer_names = []
    
    # Recursively visit all modules and submodules
    for name, module in model.named_modules():
        # Check if the module is an instance of the specified layers
        if isinstance(module, (torch.nn.Linear)):

            layer_names.append('.'.join(name.split('.')[4:]).split('.')[0])
    name_map = {name: True for name in layer_names}
    
    return [name for name, _ in name_map.items() if name != '']

In [22]:
all_linear_layers = get_all_linear_layers(model)
all_linear_layers

['q_proj', 'k_proj', 'v_proj', 'o_proj', 'gate_proj', 'up_proj', 'down_proj']

In [23]:
# peft_config = PrefixTuningConfig(
#     task_type=TaskType.CAUSAL_LM, 
#     num_virtual_tokens=num_virtual_tokens, 
#     prefix_projection=False,
# )

peft_config = LoraConfig(
    r=8,  # Rank of LoRA matrices
    lora_alpha=32,  # Scaling factor
    target_modules=all_linear_layers,  # Target layers for LoRA
    lora_dropout=0.15,  # Dropout rate for LoRA layers
    bias="none",  # Optionally add bias terms
    task_type="CAUSAL_LM"  # Type of task
)


peft_config

LoraConfig(task_type='CAUSAL_LM', peft_type=<PeftType.LORA: 'LORA'>, auto_mapping=None, base_model_name_or_path=None, revision=None, inference_mode=False, r=8, target_modules={'o_proj', 'k_proj', 'up_proj', 'v_proj', 'down_proj', 'gate_proj', 'q_proj'}, exclude_modules=None, lora_alpha=32, lora_dropout=0.15, fan_in_fan_out=False, bias='none', use_rslora=False, modules_to_save=None, init_lora_weights=True, layers_to_transform=None, layers_pattern=None, rank_pattern={}, alpha_pattern={}, megatron_config=None, megatron_core='megatron.core', loftq_config={}, eva_config=None, use_dora=False, layer_replication=None, runtime_config=LoraRuntimeConfig(ephemeral_gpu_offload=False), lora_bias=False)

In [24]:
peft_model: PeftModelForCausalLM = get_peft_model(model, peft_config)
peft_model.print_trainable_parameters()

trainable params: 14,966,784 || all params: 3,100,905,472 || trainable%: 0.4827

# Metrics Function

In [25]:
from transformers import EvalPrediction
from metrics import BleuCalculator

def compute_metrics(eval_pred: EvalPrediction, tokenizer: PreTrainedTokenizerFast):
    predictions, labels, inputs = eval_pred
    labels = [[id for id in label if id != -100] for label in labels]
    predictions = [[id for id in pred if id != -100] for pred in predictions]
    inputs = [[id for id in input_ if id != -100] for input_ in inputs]
    decoded_preds = tokenizer.batch_decode(predictions, skip_special_tokens=True)
    decoded_labels = tokenizer.batch_decode(labels, skip_special_tokens=True)
    decoded_inputs = tokenizer.batch_decode(inputs, skip_special_tokens=True)

    score_dict = {}
    score_dict["bleu-4"] = []
    for prediction, label, input_, raw_pred in zip(decoded_preds, decoded_labels, decoded_inputs, predictions):
        new_text = prediction[len(input_):].replace("\n", "")
        bleu_score = BleuCalculator.calculate(new_text, label)
        score_dict["bleu-4"].append(bleu_score)
        print(f"new_text: ||{new_text}||")
        print(f"label: {label}")
        # print(f"pred: {prediction}")
        # print(f"input: {input_}")
        # print(f"raw pred: {raw_pred}")
        # print(f"raw pred len: {len(raw_pred)}")
        # print(f"new_text len: {len(new_text)}")
        # generated_keywords = new_text.split(",")
        # print(new_text)
    return {k: round(np.mean(v), 4) for k, v in score_dict.items()}

## A Simple Test of Our Eval Function

In [26]:
inputs = tokenizer("ËØ∑ÁîüÊàêsql:")['input_ids']
inputs = np.array(inputs)

predictions = tokenizer('ËØ∑ÁîüÊàêsql:select * from a where b = c' + tokenizer.eos_token)['input_ids']
predictions = np.array(predictions)

labels = tokenizer.encode('select * from a where b = e') + [-100] + [tokenizer.eos_token_id]
labels = np.array(labels)

ep = EvalPrediction([predictions], [labels], [inputs])

compute_metrics(ep, tokenizer)

new_text: ||select * from a where b = c||
label: select * from a where b = e

{'bleu-4': 0.8409}

In [27]:
metrics_func = partial(compute_metrics, tokenizer=tokenizer)

# Training

In [28]:
generation_config = GenerationConfig.from_pretrained(model_path)
generation_config.temperature = 1
generation_config.do_sample = False
generation_config.repetition_penalty = None
generation_config.top_k = None
generation_config.top_p = None
generation_config.max_length = 3000
generation_config

GenerationConfig {
  "bos_token_id": 151643,
  "eos_token_id": [
    151645,
    151643
  ],
  "max_length": 3000,
  "pad_token_id": 151643,
  "repetition_penalty": null,
  "top_k": null,
  "top_p": null
}

In [29]:
# logging_steps = logging_step_per_epoch
# logging_steps

In [30]:
args = Seq2SeqTrainingArguments(
        output_dir=str(model_output_dir),
        per_device_train_batch_size=batch_size,
        gradient_accumulation_steps=accumulation_steps,
        per_device_eval_batch_size=batch_size,
        eval_accumulation_steps=accumulation_steps,
        logging_steps=logging_steps,
        num_train_epochs=epochs,
        learning_rate=learning_rate,
        warmup_ratio=warmup_ratio,
        weight_decay=weight_decay,
        eval_strategy="steps",
        eval_steps=logging_steps,
        save_strategy="steps",
        save_total_limit=save_total_limit,
        save_steps=logging_steps,
        load_best_model_at_end=True,
        metric_for_best_model="bleu-4",
        predict_with_generate=True,
        include_for_metrics=["inputs, loss"],
        include_inputs_for_metrics=True,
        generation_config=generation_config,
    )

Using `include_inputs_for_metrics` is deprecated and will be removed in version 5 of ü§ó Transformers. Please use `include_for_metrics` list argument instead.

In [31]:
if smoke_run:
    validation_set = validation_set.select(range(8))
    train_set = train_set.select(range(8))

In [32]:
trainer = Seq2SeqTrainer(
        model=peft_model,
        args=args,
        processing_class=tokenizer,
        train_dataset=train_set,
        eval_dataset=validation_set,
        compute_metrics=metrics_func,
        data_collator=DataCollatorForSeq2Seq(tokenizer=tokenizer, padding="longest", pad_to_multiple_of=8)
    )

Detected kernel version 5.4.0, which is below the recommended minimum of 5.5.0; this can cause the process to hang. It is recommended to upgrade the kernel to the minimum version or higher.

In [33]:
from transformers.utils import logging
logging.set_verbosity_error()

In [34]:
if smoke_run:
    trainer.evaluate(eval_dataset=validation_set)

In [35]:
if not smoke_run:
    trainer.train()
    trainer.save_model(output_dir=best_model_output_dir)
    trainer.save_state()

new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2019' and Áõà‰ΩôÂÖ¨ÁßØ > 50000000 and ÂÅøËøòÂÄ∫Âä°ÊîØ‰ªòÁöÑÁé∞Èáë > 1000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2019'  and Áõà‰ΩôÂÖ¨ÁßØ is not null and Áõà‰ΩôÂÖ¨ÁßØ > 50000000 and ÂÅøËøòÂÄ∫Âä°ÊîØ‰ªòÁöÑÁé∞Èáë is not null and ÂÅøËøòÂÄ∫Âä°ÊîØ‰ªòÁöÑÁé∞Èáë > 1000000```
new_text: ||```select avg(Á®éÈáëÂèäÈôÑÂä†) from company_table where Âπ¥‰ªΩ = '2020' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%Âåó‰∫¨Â∏Ç%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê∑±Âú≥%')```||
label: ```select avg(Á®éÈáëÂèäÈôÑÂä†) from company_table where Âπ¥‰ªΩ = '2020' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%Âåó‰∫¨Â∏Ç%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê∑±Âú≥%') and Á®éÈáëÂèäÈôÑÂä† is not null```
new_text: ||```select sum(Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞Èáè) from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑%' and Âπ¥‰ªΩ = '2019' and Â≠êÂÖ¨Âè∏Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞Èáè is not null``` ‰ª•Âèä  ```select sum(Áîü‰∫ß‰∫∫Âëò) from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑%' and Âπ¥‰ªΩ = '2019' and Áîü‰∫ß‰∫∫Âëò is not null```||
label: ```select sum(‰∏ªË¶ÅÂ≠êÂÖ¨Âè∏Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞Èáè), sum(Áîü‰∫ß‰∫∫Âëò) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑Â∏Ç%'```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂπøÂ∑û%' and ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶ > 10000000 and ‰ø°Áî®ÂáèÂÄºÊçüÂ§± > 100000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂπøÂ∑û%' and ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶ is not null and ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶ > 10000000 and ‰ø°Áî®ÂáèÂÄºÊçüÂ§± is not null and ‰ø°Áî®ÂáèÂÄºÊçüÂ§± > 100000000```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2020' and Ëê•‰∏öÂ§ñÊîØÂá∫ < 1000000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2020'  and Ëê•‰∏öÂ§ñÊîØÂá∫ is not null and Ëê•‰∏öÂ§ñÊîØÂá∫ < 1000000000```
new_text: ||```select sum(ÊäÄÊúØ‰∫∫Âëò) + sum(ÈîÄÂîÆ‰∫∫Âëò) from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%Êù≠Â∑û%' and Âπ¥‰ªΩ = '2021'```||
label: ```select sum(ÊäÄÊúØ‰∫∫Âëò), sum(ÈîÄÂîÆ‰∫∫Âëò) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Êù≠Â∑û%'```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2021' and Êú™ÂàÜÈÖçÂà©Ê∂¶ is not null and Êú™ÂàÜÈÖçÂà©Ê∂¶ > 50000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2021'  and Êú™ÂàÜÈÖçÂà©Ê∂¶ is not null and Êú™ÂàÜÈÖçÂà©Ê∂¶ > 50000000```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2020' and Á≠πËµÑÊ¥ªÂä®Áé∞ÈáëÊµÅÂÖ•Â∞èËÆ° > 100000000 and Âü∫Êú¨ÊØèËÇ°Êî∂Áõä < 50000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2020'  and Á≠πËµÑÊ¥ªÂä®Áé∞ÈáëÊµÅÂÖ•Â∞èËÆ° is not null and Á≠πËµÑÊ¥ªÂä®Áé∞ÈáëÊµÅÂÖ•Â∞èËÆ° > 100000000 and Âü∫Êú¨ÊØèËÇ°Êî∂Áõä is not null and Âü∫Êú¨ÊØèËÇ°Êî∂Áõä < 50000000```
new_text: ||```select avg(Âà©Ê∂¶ÊÄªÈ¢ù) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Êù≠Â∑û%' and Âà©Ê∂¶ÊÄªÈ¢ù is not null```||
label: ```select avg(Âà©Ê∂¶ÊÄªÈ¢ù) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Êù≠Â∑û%' and Âà©Ê∂¶ÊÄªÈ¢ù is not null```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞, Ë¥üÂÄ∫ÂêàËÆ° from company_table where Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%Êù≠Â∑û%' and Âπ¥‰ªΩ = '2021' order by Ë¥üÂÄ∫ÂêàËÆ° desc limit 1```||
label: ```SELECT ÂÖ¨Âè∏ÂÖ®Áß∞, Ë¥üÂÄ∫ÂêàËÆ° FROM company_table WHERE Âπ¥‰ªΩ = '2021' AND Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%Êù≠Â∑û%'  AND Ë¥üÂÄ∫ÂêàËÆ° IS NOT NULL ORDER BY Ë¥üÂÄ∫ÂêàËÆ° DESC LIMIT 1```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Êù≠Â∑û%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂπøÂ∑û%' and ÂèñÂæóÂÄüÊ¨æÊî∂Âà∞ÁöÑÁé∞Èáë < 100000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2021' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%Êù≠Â∑û%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂπøÂ∑û%') and ÂèñÂæóÂÄüÊ¨æÊî∂Âà∞ÁöÑÁé∞Èáë is not null and ÂèñÂæóÂÄüÊ¨æÊî∂Âà∞ÁöÑÁé∞Èáë < 100000000```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞, Ë¥üÂÄ∫ÂêàËÆ° from company_table where Âπ¥‰ªΩ = '2020' and Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑%' order by Ë¥üÂÄ∫ÂêàËÆ° asc limit 4, 1```||
label: ```SELECT ÂÖ¨Âè∏ÂÖ®Áß∞, Ë¥üÂÄ∫ÂêàËÆ° FROM company_table WHERE Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%‰∏äÊµ∑%'  and Âπ¥‰ªΩ == "2020" and Ë¥üÂÄ∫ÂêàËÆ° IS NOT NULL ORDER BY Ë¥üÂÄ∫ÂêàËÆ° DESC LIMIT 1 OFFSET 3```
new_text: ||```select count(1) from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê≠¶Ê±â%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈïøÊ≤ô%' and Á≠πËµÑÊ¥ªÂä®‰∫ßÁîüÁöÑÁé∞ÈáëÊµÅÈáèÂáÄÈ¢ù is not null and Á≠πËµÑÊ¥ªÂä®‰∫ßÁîüÁöÑÁé∞ÈáëÊµÅÈáèÂáÄÈ¢ù > 50000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2019' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê≠¶Ê±â%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈïøÊ≤ô%') and Á≠πËµÑÊ¥ªÂä®‰∫ßÁîüÁöÑÁé∞ÈáëÊµÅÈáèÂáÄÈ¢ù is not null and Á≠πËµÑÊ¥ªÂä®‰∫ßÁîüÁöÑÁé∞ÈáëÊµÅÈáèÂáÄÈ¢ù > 50000000```
new_text: ||```select sum(Áîü‰∫ß‰∫∫Âëò) from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%ÊàêÈÉΩ%' and Âπ¥‰ªΩ = '2020'```||
label: ```select sum(Áîü‰∫ß‰∫∫Âëò) from company_table where Âπ¥‰ªΩ = '2020' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÊàêÈÉΩ%' and Áîü‰∫ß‰∫∫Âëò is not null```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞ from company_table where Âπ¥‰ªΩ = '2019' order by Ë¥üÂÄ∫ÂêàËÆ° desc limit 10```||
label: ```SELECT ÂÖ¨Âè∏ÂÖ®Áß∞ FROM company_table WHERE Âπ¥‰ªΩ == "2019" and Ë¥üÂÄ∫ÂêàËÆ° IS NOT NULL ORDER BY Ë¥üÂÄ∫ÂêàËÆ° DESC LIMIT 10```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞, ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶ from company_table where Âπ¥‰ªΩ = '2020' order by ÂÖ∂‰ªñ‰∏éÁªèËê•Ê¥ªÂä®ÊúâÂÖ≥ÁöÑÁé∞Èáë DESC LIMIT 15```||
label: ```SELECT ÂÖ¨Âè∏ÂÖ®Áß∞, ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶ FROM company_table WHERE Âπ¥‰ªΩ = '2020' AND Êî∂Âà∞ÂÖ∂‰ªñ‰∏éÁªèËê•Ê¥ªÂä®ÊúâÂÖ≥ÁöÑÁé∞Èáë IS NOT NULL ORDER BY Êî∂Âà∞ÂÖ∂‰ªñ‰∏éÁªèËê•Ê¥ªÂä®ÊúâÂÖ≥ÁöÑÁé∞Èáë ASC LIMIT 15```
new_text: ||```select * from company_table where ÊÄªËµÑ‰∫ß is not null and ÊÄªË¥üÂÄ∫ is not null```||
label: ```SELECT * FROM company_table WHERE ÊÄªËµÑ‰∫ßÂáèÊÄªË¥üÂÄ∫ IS NOT NULL```
new_text: ||```select avg(Á®ÄÈáäÊØèËÇ°Êî∂Áõä) from company_table where Âπ¥‰ªΩ = '2021' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈáçÂ∫Ü%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê∑±Âú≥%') and Á®ÄÈáäÊØèËÇ°Êî∂Áõä is not null```||
label: ```select avg(Á®ÄÈáäÊØèËÇ°Êî∂Áõä) from company_table where Âπ¥‰ªΩ = '2021' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈáçÂ∫Ü%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê∑±Âú≥%') and Á®ÄÈáäÊØèËÇ°Êî∂Áõä is not null```
new_text: ||```select sum(ÊØçÂÖ¨Âè∏Âèä‰∏ªË¶ÅÂ≠êÂÖ¨Âè∏ÈúÄÊâøÊãÖË¥πÁî®ÁöÑÁ¶ªÈÄÄ‰ºëËÅåÂ∑•‰∫∫Êï∞) + sum(ÊäÄÊúØ‰∫∫Âëò) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂπøÂ∑û%'```||
label: ```select sum(ÊØçÂÖ¨Âè∏Âèä‰∏ªË¶ÅÂ≠êÂÖ¨Âè∏ÈúÄÊâøÊãÖË¥πÁî®ÁöÑÁ¶ªÈÄÄ‰ºëËÅåÂ∑•‰∫∫Êï∞), sum(ÊäÄÊúØ‰∫∫Âëò) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂπøÂ∑û%'```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2021' and (Êó†ÂΩ¢ËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë is not null and Êó†ÂΩ¢ËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë > 1000000) or (ÂÖ∂‰ªñÈïøÊúüËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë is not null and ÂÖ∂‰ªñÈïøÊúüËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë > 1000000)```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2021'  and Êó†ÂΩ¢ËµÑ‰∫ßÂíåÂÖ∂‰ªñÈïøÊúüËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë is not null and Êó†ÂΩ¢ËµÑ‰∫ßÂíåÂÖ∂‰ªñÈïøÊúüËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë > 1000000```
new_text: ||```select sum(Ë¥¢Âä°‰∫∫Âëò) as '2021Âπ¥Ë¥¢Âä°‰∫∫Âëò‰∫∫Êï∞', sum(Ë¥¢Âä°‰∫∫Âëò) as '2020Âπ¥Ë¥¢Âä°‰∫∫Âëò‰∫∫Êï∞' from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%ÊàêÈÉΩ%' and Âπ¥‰ªΩ in ('2021', '2020')```||
label: ```select sum(if(Âπ¥‰ªΩ = '2021', Ë¥¢Âä°‰∫∫Âëò, 0)) as sum_2021, sum(if(Âπ¥‰ªΩ = '2020', Ë¥¢Âä°‰∫∫Âëò, 0)) as sum_2020 from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%ÊàêÈÉΩ%' and Ë¥¢Âä°‰∫∫Âëò is not null```
new_text: ||```select count(1) from company_table where ËµÑ‰∫ßÂ§ÑÁΩÆÊî∂Áõä is not null and ËµÑ‰∫ßÂ§ÑÁΩÆÊî∂Áõä > 10000000 and Ë¥¢Âä°‰∫∫Âëò is not null and Ë¥¢Âä°‰∫∫Âëò > 10000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2019'  and ËµÑ‰∫ßÂ§ÑÁΩÆÊî∂Áõä is not null and ËµÑ‰∫ßÂ§ÑÁΩÆÊî∂Áõä > 10000000 and Ë¥¢Âä°‰∫∫Âëò is not null and Ë¥¢Âä°‰∫∫Âëò > 10000000```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2020' and Êó†ÂΩ¢ËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë is not null and Êó†ÂΩ¢ËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë > 1000000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2020'  and Êó†ÂΩ¢ËµÑ‰∫ßÂíåÂÖ∂‰ªñÈïøÊúüËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë is not null and Êó†ÂΩ¢ËµÑ‰∫ßÂíåÂÖ∂‰ªñÈïøÊúüËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë > 1000000000```
new_text: ||```select sum(ÊäÄÊúØ‰∫∫Âëò), sum(Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞Èáè) from company_table where Âπ¥‰ªΩ = '2020' and Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑%'```||
label: ```select sum(ÊäÄÊúØ‰∫∫Âëò), sum(‰∏ªË¶ÅÂ≠êÂÖ¨Âè∏Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞Èáè) from company_table where Âπ¥‰ªΩ = '2020' and Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑%'```
new_text: ||```select ÁªèËê•Ê¥ªÂä®Áé∞ÈáëÊµÅÂÖ•Â∞èËÆ° from company_table where Âπ¥‰ªΩ = '2019'```||
label: ```SELECT Âπ¥‰ªΩ, ÁªèËê•Ê¥ªÂä®‰∫ßÁîüÁöÑÁé∞ÈáëÊµÅÈáèÂáÄÈ¢ù FROM company_table WHERE Âπ¥‰ªΩ = '2019' AND ÁªèËê•Ê¥ªÂä®‰∫ßÁîüÁöÑÁé∞ÈáëÊµÅÈáèÂáÄÈ¢ù IS NOT NULL```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2019' and ÊäïËµÑÊ¥ªÂä®Áé∞ÈáëÊµÅÂÖ•Â∞èËÆ° > 50000000 and ÂàÜÈÖçËÇ°Âà© > 100000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2019'  and ÊäïËµÑÊ¥ªÂä®Áé∞ÈáëÊµÅÂÖ•Â∞èËÆ° is not null and ÊäïËµÑÊ¥ªÂä®Áé∞ÈáëÊµÅÂÖ•Â∞èËÆ° > 50000000 and ÂàÜÈÖçËÇ°Âà© is not null and ÂàÜÈÖçËÇ°Âà© > 100000000```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈáçÂ∫Ü%' and Â∞ëÊï∞ËÇ°‰∏úÊùÉÁõä is not null and Á®ÄÈáäÊØèËÇ°Êî∂Áõä > 200000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈáçÂ∫Ü%' and Â∞ëÊï∞ËÇ°‰∏úÊùÉÁõä is not null and Â∞ëÊï∞ËÇ°‰∏úÊùÉÁõä > 50000000 and Á®ÄÈáäÊØèËÇ°Êî∂Áõä is not null and Á®ÄÈáäÊØèËÇ°Êî∂Áõä > 200000000```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2020' and ÂÖ∂‰ªñ‰∏éÁªèËê•Ê¥ªÂä®ÊúâÂÖ≥ÁöÑÁé∞Èáë > 1000000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2020'  and Êî∂Âà∞ÂÖ∂‰ªñ‰∏éÁªèËê•Ê¥ªÂä®ÊúâÂÖ≥ÁöÑÁé∞Èáë is not null and Êî∂Âà∞ÂÖ∂‰ªñ‰∏éÁªèËê•Ê¥ªÂä®ÊúâÂÖ≥ÁöÑÁé∞Èáë > 1000000000```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞ from company_table where Âπ¥‰ªΩ = '2021' order by ÊäïËµÑÊî∂Áõä desc limit 1```||
label: ```SELECT ÂÖ¨Âè∏ÂêçÁß∞, ÊäïËµÑÊî∂Áõä FROM company_table WHERE Âπ¥‰ªΩ = '2021' AND ÊäïËµÑÊî∂Áõä IS NOT NULL ORDER BY ÊäïËµÑÊî∂Áõä DESC LIMIT 1```
new_text: ||```select avg(ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶) from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê∑±Âú≥%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈáçÂ∫Ü%' and Âπ¥‰ªΩ = '2019'```||
label: ```select avg(ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶) from company_table where Âπ¥‰ªΩ = '2019' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê∑±Âú≥Â∏Ç%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈáçÂ∫Ü%') and ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶ is not null```
new_text: ||```select avg(ÁÆ°ÁêÜË¥πÁî®) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈïøÊ≤ô%' and ÁÆ°ÁêÜË¥πÁî® is not null```,```select avg(ÁÆ°ÁêÜË¥πÁî®) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈïøÊ≤ô%' and ÁÆ°ÁêÜË¥πÁî® is not null```||
label: ```select avg(if(Âπ¥‰ªΩ='2019',ÁÆ°ÁêÜË¥πÁî®,null)) as avg_2019, avg(if(Âπ¥‰ªΩ='2021',ÁÆ°ÁêÜË¥πÁî®,null)) as avg_2021 from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈïøÊ≤ô%' and ÁÆ°ÁêÜË¥πÁî® is not null```
new_text: ||```select avg(Ë¥üÂÄ∫ÂíåÊâÄÊúâËÄÖÊùÉÁõäÊÄªËÆ°), avg(Ëê•‰∏öÂ§ñÊîØÂá∫) from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈïøÊ≤ô%' and Âπ¥‰ªΩ = '2020'```||
label: ```select avg(Ë¥üÂÄ∫ÂíåÊâÄÊúâËÄÖÊùÉÁõäÊÄªËÆ°), avg(Ëê•‰∏öÂ§ñÊîØÂá∫) from company_table where Âπ¥‰ªΩ = '2020' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈïøÊ≤ô%'```
new_text: ||```select avg(Áé∞ÈáëÂèäÁé∞ÈáëÁ≠â‰ª∑Áâ©‰ΩôÈ¢ù) from company_table where Âπ¥‰ªΩ = '2021' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂõõÂ∑ù%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%Âπø‰∏ú%')```||
label: ```select avg(ÊúüÂàùÁé∞ÈáëÂèäÁé∞ÈáëÁ≠â‰ª∑Áâ©‰ΩôÈ¢ù) from company_table where Âπ¥‰ªΩ = '2021' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂõõÂ∑ù%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%Âπø‰∏úÁúÅ%') and ÊúüÂàùÁé∞ÈáëÂèäÁé∞ÈáëÁ≠â‰ª∑Áâ©‰ΩôÈ¢ù is not null```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2020' and Â∫î‰∫§Á®éË¥π is not null and Â∫î‰∫§Á®éË¥π > 100000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2020'  and Â∫î‰∫§Á®éË¥π is not null and Â∫î‰∫§Á®éË¥π > 100000000```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞, ÊäÄÊúØ‰∫∫Âëò from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈïøÊ≤ô%' and Âπ¥‰ªΩ = '2020' order by Â∞ëÊï∞ËÇ°‰∏úÊçüÁõä desc limit 20```||
label: ```SELECT ÂÖ¨Âè∏ÂÖ®Áß∞, ÊäÄÊúØ‰∫∫Âëò FROM company_table WHERE Âπ¥‰ªΩ = '2020' AND Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%ÈïøÊ≤ô%'  AND Â∞ëÊï∞ËÇ°‰∏úÊçüÁõä IS NOT NULL ORDER BY Â∞ëÊï∞ËÇ°‰∏úÊçüÁõä DESC LIMIT 20```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞ from company_table where Âπ¥‰ªΩ = '2020' order by Êèê‰æõÂä≥Âä°Êî∂Âà∞ÁöÑÁé∞Èáë asc limit 2```||
label: ```SELECT ÂÖ¨Âè∏ÂÖ®Áß∞ FROM company_table WHERE Âπ¥‰ªΩ = '2020' AND Êèê‰æõÂä≥Âä°Êî∂Âà∞ÁöÑÁé∞Èáë IS NOT NULL ORDER BY Êèê‰æõÂä≥Âä°Êî∂Âà∞ÁöÑÁé∞Èáë ASC LIMIT 1 OFFSET 1```
new_text: ||```select avg(Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞ÈáèÂêàËÆ°) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê≠¶Ê±â%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%Ë•øÂÆâ%'```||
label: ```select avg(Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞ÈáèÂêàËÆ°) from company_table where Âπ¥‰ªΩ = '2021' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê≠¶Ê±â%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%Ë•øÂÆâ%') and Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞ÈáèÂêàËÆ° is not null```
new_text: ||```select avg(Âà©Ê∂¶ÊÄªÈ¢ù) as '2019Âà©Ê∂¶ÊÄªÈ¢ù', avg(Âà©Ê∂¶ÊÄªÈ¢ù) as '2021Âà©Ê∂¶ÊÄªÈ¢ù' from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%ÊàêÈÉΩ%' and Âπ¥‰ªΩ in ('2019', '2021')```||
label: ```select avg(if(Âπ¥‰ªΩ='2019',Âà©Ê∂¶ÊÄªÈ¢ù,null)) as avg_2019, avg(if(Âπ¥‰ªΩ='2021',Âà©Ê∂¶ÊÄªÈ¢ù,null)) as avg_2021 from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%ÊàêÈÉΩ%' and Âà©Ê∂¶ÊÄªÈ¢ù is not null```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2020' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ËãèÂ∑û%' and Áé∞ÈáëÂèäÁé∞ÈáëÁ≠â‰ª∑Áâ©‰ΩôÈ¢ù is not null and Áé∞ÈáëÂèäÁé∞ÈáëÁ≠â‰ª∑Áâ©‰ΩôÈ¢ù > 200000000 and ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶ < 50000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2020' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ËãèÂ∑û%' and ÊúüÂàùÁé∞ÈáëÂèäÁé∞ÈáëÁ≠â‰ª∑Áâ©‰ΩôÈ¢ù is not null and ÊúüÂàùÁé∞ÈáëÂèäÁé∞ÈáëÁ≠â‰ª∑Áâ©‰ΩôÈ¢ù > 200000000 and ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶ is not null and ÊåÅÁª≠ÁªèËê•ÂáÄÂà©Ê∂¶ < 50000000```
new_text: ||```select sum(Á¶ªÈÄÄ‰ºëËÅåÂ∑•‰∫∫Êï∞) from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%ÊàêÈÉΩ%' and Âπ¥‰ªΩ = '2020' and ‰∫∫ÂëòÁ±ªÂûã in ('ÊäÄÊúØ‰∫∫Âëò', 'ÊØçÂÖ¨Âè∏Âèä‰∏ªË¶ÅÂ≠êÂÖ¨Âè∏')```||
label: ```select sum(ÊäÄÊúØ‰∫∫Âëò), sum(ÊØçÂÖ¨Âè∏Âèä‰∏ªË¶ÅÂ≠êÂÖ¨Âè∏ÈúÄÊâøÊãÖË¥πÁî®ÁöÑÁ¶ªÈÄÄ‰ºëËÅåÂ∑•‰∫∫Êï∞) from company_table where Âπ¥‰ªΩ = '2020' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÊàêÈÉΩ%'```
new_text: ||```select sum(ÈîÄÂîÆ‰∫∫Âëò) from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê±üËãè%' and Âπ¥‰ªΩ = '2021' and ÈîÄÂîÆ‰∫∫Âëò is not null```||
label: ```select sum(ÈîÄÂîÆ‰∫∫Âëò) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê±üËãè%' and ÈîÄÂîÆ‰∫∫Âëò is not null```
new_text: ||```select avg(Áé∞ÈáëÊµÅÈáèÂáÄÈ¢ù) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂõõÂ∑ù%' and Áé∞ÈáëÊµÅÈáèÂáÄÈ¢ù is not null```||
label: ```select avg(Á≠πËµÑÊ¥ªÂä®‰∫ßÁîüÁöÑÁé∞ÈáëÊµÅÈáèÂáÄÈ¢ù) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂõõÂ∑ù%' and Á≠πËµÑÊ¥ªÂä®‰∫ßÁîüÁöÑÁé∞ÈáëÊµÅÈáèÂáÄÈ¢ù is not null```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞ from company_table where ÊâÄÂæóÁ®éË¥πÁî® is not null and Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê±üËãè%' order by ÊâÄÂæóÁ®éË¥πÁî® desc limit 2```||
label: ```SELECT ÂÖ¨Âè∏ÂÖ®Áß∞ FROM company_table WHERE Âπ¥‰ªΩ = '2022' AND Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%Ê±üËãè%'  AND ÊâÄÂæóÁ®éË¥πÁî® IS NOT NULL ORDER BY ÊâÄÂæóÁ®éË¥πÁî® ASC LIMIT 1 OFFSET 1```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2019' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂπøÂ∑û%') and ÊäÄÊúØ‰∫∫Âëò > 1000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2019' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑Â∏Ç%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂπøÂ∑û%') and ÊäÄÊúØ‰∫∫Âëò is not null and ÊäÄÊúØ‰∫∫Âëò > 1000000```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞, Ë¥üÂÄ∫ÂêàËÆ° from company_table where Âπ¥‰ªΩ = '2020' and Ê≥®ÂÜåÂú∞ÂùÄ like '%‰∏äÊµ∑%' order by Ë¥üÂÄ∫ÂêàËÆ° desc limit 5```||
label: ```SELECT ÂÖ¨Âè∏ÂêçÁß∞, Ë¥üÂÄ∫ÂêàËÆ° FROM company_table WHERE Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%‰∏äÊµ∑%'  and Âπ¥‰ªΩ == "2020" and Ë¥üÂÄ∫ÂêàËÆ° IS NOT NULL ORDER BY Ë¥üÂÄ∫ÂêàËÆ° DESC LIMIT 5```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2020' and ÈùûÊµÅÂä®Ë¥üÂÄ∫ÂêàËÆ° > 1000000 and Âà©Ê∂¶ÊÄªÈ¢ù < 50000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2020'  and ÈùûÊµÅÂä®Ë¥üÂÄ∫ÂêàËÆ° is not null and ÈùûÊµÅÂä®Ë¥üÂÄ∫ÂêàËÆ° > 1000000 and Âà©Ê∂¶ÊÄªÈ¢ù is not null and Âà©Ê∂¶ÊÄªÈ¢ù < 50000000```
new_text: ||```select sum(Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞Èáè) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Êó†Èî°%' and Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞Èáè is not null```||
label: ```select sum(ÊØçÂÖ¨Âè∏Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞Èáè) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Êó†Èî°%' and ÊØçÂÖ¨Âè∏Âú®ËÅåÂëòÂ∑•ÁöÑÊï∞Èáè is not null```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2021' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%Âåó‰∫¨%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ËãèÂ∑û%') and Á®éÈáëÂèäÈôÑÂä† is not null and Á®éÈáëÂèäÈôÑÂä† < 1000000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2021' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%Âåó‰∫¨%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ËãèÂ∑û%') and Á®éÈáëÂèäÈôÑÂä† is not null and Á®éÈáëÂèäÈôÑÂä† < 1000000000```
new_text: ||```select ÂÖ∂‰ªñÊµÅÂä®ËµÑ‰∫ß from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê∑±Âú≥%' and Âπ¥‰ªΩ = '2020' order by Âà©Ê∂¶ÊàñÂÅø‰ªòÂà©ÊÅØÊîØ‰ªòÁöÑÁé∞Èáë asc limit 10```||
label: ```SELECT ÂÖ¨Âè∏ÂÖ®Áß∞,ÂÖ∂‰ªñÊµÅÂä®ËµÑ‰∫ß FROM company_table WHERE Âπ¥‰ªΩ = '2020' AND Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%Ê∑±Âú≥%'  AND Âà©Ê∂¶ÊàñÂÅø‰ªòÂà©ÊÅØÊîØ‰ªòÁöÑÁé∞Èáë IS NOT NULL ORDER BY Âà©Ê∂¶ÊàñÂÅø‰ªòÂà©ÊÅØÊîØ‰ªòÁöÑÁé∞Èáë ASC LIMIT 10```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞, Ëê•‰∏öÊî∂ÂÖ• from company_table where Âπ¥‰ªΩ = '2020' and Ê≥®ÂÜåÂú∞ÂùÄ like '%ÂÆÅÊ≥¢%' order by Ëê•‰∏öÊî∂ÂÖ• desc limit 3```||
label: ```SELECT ÂÖ¨Âè∏ÂÖ®Áß∞, Ëê•‰∏öÊÄªÊî∂ÂÖ• FROM company_table WHERE Âπ¥‰ªΩ = '2020' AND Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%ÂÆÅÊ≥¢%'  AND Ëê•‰∏öÊî∂ÂÖ• IS NOT NULL ORDER BY Ëê•‰∏öÊî∂ÂÖ• DESC LIMIT 3```
new_text: ||```select avg(ÊµÅÂä®Ë¥üÂÄ∫ÂêàËÆ°) from company_table where Âπ¥‰ªΩ = '2020' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈáçÂ∫Ü%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈïøÊ≤ô%')```||
label: ```select avg(ÊµÅÂä®Ë¥üÂÄ∫ÂêàËÆ°) from company_table where Âπ¥‰ªΩ = '2020' and (Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈáçÂ∫Ü%' or Ê≥®ÂÜåÂú∞ÂùÄ like '%ÈïøÊ≤ô%') and ÊµÅÂä®Ë¥üÂÄ∫ÂêàËÆ° is not null```
new_text: ||```select avg(Ëê•‰∏öÊÄªÊî∂ÂÖ•) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Ë•øÂÆâ%' and Ëê•‰∏öÊÄªÊî∂ÂÖ• is not null```||
label: ```select avg(Ëê•‰∏öÊÄªÊî∂ÂÖ•) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Ë•øÂÆâ%' and Ëê•‰∏öÊÄªÊî∂ÂÖ• is not null```
new_text: ||```select ÂÖ¨Âè∏ÂÖ®Áß∞, Ë¥üÂÄ∫ÂêàËÆ° from company_table where Âπ¥‰ªΩ = '2020' order by Ë¥üÂÄ∫ÂêàËÆ° asc limit 4, 1```||
label: ```SELECT ÂÖ¨Âè∏ÂÖ®Áß∞, Ë¥üÂÄ∫ÂêàËÆ° FROM company_table WHERE Ê≥®ÂÜåÂú∞ÂùÄ LIKE '%‰∏äÊµ∑%'  and Âπ¥‰ªΩ == "2020" and Ë¥üÂÄ∫ÂêàËÆ° IS NOT NULL ORDER BY Ë¥üÂÄ∫ÂêàËÆ° DESC LIMIT 1 OFFSET 3```
new_text: ||```select count(1) from company_table where Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê≠¶Ê±â%' and Âπ¥‰ªΩ = '2019' and Âú®Âª∫Â∑•Á®ã < 100000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2019' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Ê≠¶Ê±â%'  and Âú®Âª∫Â∑•Á®ã is not null and Âú®Âª∫Â∑•Á®ã < 1000000```
new_text: ||```select avg(Ëê•‰∏öÂ§ñÊî∂ÂÖ•) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Âπø‰∏ú%' and Ëê•‰∏öÂ§ñÊî∂ÂÖ• is not null```||
label: ```select avg(Ëê•‰∏öÂ§ñÊî∂ÂÖ•) from company_table where Âπ¥‰ªΩ = '2021' and Ê≥®ÂÜåÂú∞ÂùÄ like '%Âπø‰∏úÁúÅ%' and Ëê•‰∏öÂ§ñÊî∂ÂÖ• is not null```
new_text: ||```select count(1) from company_table where Âπ¥‰ªΩ = '2021' and Êó†ÂΩ¢ËµÑ‰∫ß + ÂÖ∂‰ªñÈïøÊúüËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë > 1000000000 and ÂÖ∂‰ªñÂ∫îÊî∂Ê¨æ > 1000000000```||
label: ```select count(1) from company_table where Âπ¥‰ªΩ = '2021'  and Êó†ÂΩ¢ËµÑ‰∫ßÂíåÂÖ∂‰ªñÈïøÊúüËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë is not null and Êó†ÂΩ¢ËµÑ‰∫ßÂíåÂÖ∂‰ªñÈïøÊúüËµÑ‰∫ßÊîØ‰ªòÁöÑÁé∞Èáë > 200000000 and ÂÖ∂‰ªñÂ∫îÊî∂Ê¨æ is not null and ÂÖ∂‰ªñÂ∫îÊî∂Ê¨æ > 200000000```

# Push to ModelScope

In [1]:
from dotenv import load_dotenv
import os
load_dotenv()

AK = os.environ['MODEL_SCOPE_AK']

In [ ]:
from modelscope.hub.api import HubApi
from modelscope.hub.constants import Licenses, ModelVisibility

api = HubApi()
api.login(AK)


username = 'Blackoutta'
model_name = 'Qwen2.5-3B-Instruct-sft-nl2sql-lora'
model_id = username + "/" + model_name,

api.push_model(
    model_id=model_id[0], # Â¶ÇÊûúmodel_idÂØπÂ∫îÁöÑÊ®°ÂûãÂ∫ì‰∏çÂ≠òÂú®ÔºåÂ∞Ü‰ºöË¢´Ëá™Âä®ÂàõÂª∫
    model_dir=best_model_output_dir # ÊåáÂÆöÊú¨Âú∞Ê®°ÂûãÊâÄÂú®ÁõÆÂΩï
)

2024-12-27 09:55:15,468 - modelscope - WARNING - No configuration.json file found in /root/llm_adv_qa/resources/sft_models/nl2sql/best, creating a default one.
2024-12-27 09:55:15,560 - modelscope - INFO - Creating new model [Blackoutta/Qwen2.5-3B-Instruct-sft-nl2sql-lora]
2024-12-27 09:55:17,225 - modelscope - INFO - Pushing folder /root/llm_adv_qa/resources/sft_models/nl2sql/best as model Blackoutta/Qwen2.5-3B-Instruct-sft-nl2sql-lora.
2024-12-27 09:55:17,226 - modelscope - INFO - Total folder size 72.31 MB, this may take a while depending on actual pushing size...
2024-12-27 09:55:17,238 - modelscope - ERROR - Running git command: ['git', 'lfs', 'env'] failed
 stdout:
 stderr: git: 'lfs' is not a git command. See 'git --help'.

The most similar command is
	log

2024-12-27 09:55:17,239 - modelscope - ERROR - git lfs is not installed, please install.
2024-12-27 09:55:17,822 - modelscope - ERROR - Running git command: ['git', 'lfs', 'env'] failed
 stdout:
 stderr: git: 'lfs' is not a git command. See 'git --help'.

The most similar command is
	log

2024-12-27 09:55:27,311 - modelscope - INFO - [master 9475cbc] 'upload model'
 11 files changed, 909337 insertions(+), 47 deletions(-)
 rewrite README.md (98%)
 create mode 100644 adapter_config.json
 create mode 100644 adapter_model.safetensors
 create mode 100644 added_tokens.json
 create mode 100644 configuration.json
 create mode 100644 merges.txt
 create mode 100644 special_tokens_map.json
 create mode 100644 tokenizer.json
 create mode 100644 tokenizer_config.json
 create mode 100644 training_args.bin
 create mode 100644 vocab.json